@import "./variables";

%fadeArrow {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  background-color: $themeColor;
}

%h2Color {
  background-color: #fff;
  color: $themeColor;
}

%h2ColorReversed {
  background-color: $themeColor;
  color: #fff;
}

%button {
  border: none;
  outLine: none;
  background: Transparent;
  &:active {
    outLine: none;
  }
}

%overFlow {
  // overflow hidden with y-axis scroll bar
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;

  // overflow hidden scrollbar
  // Chrome, Safari, newer versions of Opera
  &::-webkit-scrollbar { 
    display: none; 
  }
  // -moz- (Firefox)
  overflow: -moz-scrollbars-none;
  // -ms- (Internet Explorer +10):
  -ms-overflow-style: none;
}