@import "./variables";

%fadeArrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  background-color: #8a8a8a;
}

%h2Color {
  background-color: #fff;
  color: $themeColor;
}

%h2ColorReversed {
  background-color: $themeColor;
  color: #fff;
}

%button {
  border: none;
  outLine: none;
  background: Transparent;
  &:active {
    outLine: none;
  }
}