@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.footer { 
  width: $standardWidth;
  //height: $standardHeight * 0.4;
  background-color: $darkThemeColor;
  @include flexStyle;
  font-family: $sans-serif;
  @include textShadow(2px, 2px, $color: #000);
}

.footer-title {
  @include fontStyle(null, $mediumFont, null, #fff); 
  margin-top: 5%;
}

.contact-list {
  margin: 2% auto;
  @include flexStyle($alignItems: flex-start);
  a:hover {
    text-decoration: none;
  }
}

.list-item {
  margin-top: 5%;
  .item-name {
    color: #fff;
    font-size: $normalFont;
    margin-left: 1rem;
  }
}

.copyright {
  width: 100%;
  color: #fff;
  letter-spacing: 0.2rem;
  margin-bottom: 1%;
  text-align: center;
}