@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.carousel-indicators {
  display: none;
}

.home-projects-carousel-modal {
  display: flex;
  width: $standardWidth * 0.8;
}

.carousel-modal-close-btn {
  width: $standardWidth;
  text-align: right;
  padding: 1em;
  color: #2ca952;
}

.home-projects-carousel-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #edfaf1;
}

.home-projects-carousel-item {
  width: $standardWidth * 0.8;
  height: $standardHeight * 0.8;
  @include flexStyle($justifyContent: space-around);
}

.home-projects-carousel-item-img {
  width: 50%;
  height: 45%;
  @include borderStyle($borderWidth: 3px, $borderColor: #fff);
  background-color: #fff;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  @include boxShadow(1px, 1px, 1px, 1px, #071d0e);
}

.home-projects-carousel-item-info {
  width: 70%;
  height: 40%;
  font-family: $sans-serif;
  @include flexStyle;
  padding-bottom: 1em;
}

.home-projects-carousel-item-name {
  font-size: $mediumFont;
  font-weight: $bold;
}

.home-projects-carousel-item-title {
  font-size: $normalFont;
  font-weight: $bold;
  padding: 0.5em;
  border-bottom: 2px solid #61d685;
  margin-bottom: 0.5em;
}

.carousel-item-media-i {
  font-size: $normalFont;
  margin: 0.5em 1em 0 1em;
  color: #3a804f;
}

.home-projects-carousel-item-desc {
  font-size: 1.2em;
  padding: 0.2em;
  width: 100%;
}

.home-projects-carousel-item-desc span {
  font-weight: $bold;
}

/*carousel left and right arrow part*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 0;
}

.glyphicon {
  font-size: 3em;
  color: #2ca952;
  opacity: 0.8;
}





