@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.home-projects-list {
  width: $standardWidth * 0.7;
  height: 80%;
  @include flexStyle($direction: row, $justifyContent: space-between, $flexWrap: wrap);
}

.home-projects-list-item {
  width: 23%;
  height: 30%;
  border: $standardBorder;
  border-radius: 1rem;
  @include boxShadow(1px, 1px, 5px, 1px, #207a3c);
  @include flexStyle;

  img {
    width: 50%;
    height: 65%;
    margin-bottom: 5%;
    border-radius: 1rem;
    @include boxShadow(1px, 1px, 3px, 1px, #808080);
  }

  h3 {
    font-family: $sans-serif;
    font-weight: $bold;
  } 
}

.home-projects-list-item-hover-off {
  width: 100%;
  height: 100%;
  @include flexStyle;
}

.home-projects-list-item-hover-on {
  width: 100%;
  height: 100%;
  background-color: $themeColor;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  font-family: $sans-serif;
  @include flexStyle;

  h3 {
    width: 100%;
    height: 18%;
    @include textShadow($color: #000);
    font-size: $mediumFont;
  }

  h4 {
    width: 100%;
    height: 15%;
    font-size: $normalFont;
  } 

  button {
    width: 40%;
    height: 20%;
    margin-top: 10%;
    @extend %button;
    background: #fff;
    @include fontStyle($family: $sans-serif, $size: 1.1rem, $weight: $bold, $color: $themeColor);
    border-radius: 0.5rem;
    @include boxShadow(1px, 1px, 3px, 1px, #207a3c);
  }
}

.home-projects-list-item .home-projects-list-item-hover-on,
.home-projects-list-item:hover .home-projects-list-item-hover-off {
  display: none;
}

.home-projects-list-item:hover .home-projects-list-item-hover-on {
  @include flexStyle;
}