@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.carousel-indicators {
  display: none;
} 

.home-projects-carousel-modal {
  display: flex;
}

.carousel-modal-close-btn {
  width: 100%;
  text-align: right;
  padding: 1rem;
  color: #2ca952;
}

.home-projects-carousel-item {
  width: $standardWidth;
  height: 80vh;
  background: #61D685;
  @include flexStyle($justifyContent: space-around);
}

.home-projects-carousel-item-img {
  width: 65%;
  height: 50%;
  @include borderStyle($borderWidth: 5px, $borderColor: #fff);
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  @include boxShadow(1px, 1px, 5px, 1px, #071d0e);

  img {
    width: 100%; 
    height: auto;
  }
}

.home-projects-carousel-item-info {
  width: 80%;
  height: 35%;
  background-color: #fff;
  font-family: $sans-serif;
  @include flexStyle;
  border-radius: 1rem;
}

.home-projects-carousel-item-title {
  font-size: $normalFont;
  font-weight: $bold;
  padding-bottom: 0.5rem;
  border-bottom: 2px dashed $themeColor;
  margin-bottom: 0.5rem;
}

.carousel-item-media-i {
  font-size: $normalFont;
  margin: 0.5rem 1rem 0 1rem;
  color: #3a804f;
}

.home-projects-carousel-item-desc {
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  width: 100%;
}

.home-projects-carousel-item-desc {
  span {
    font-weight: $bold;
  }
}

/*carousel left and right arrow part*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  opacity: 1;
}





