@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.home {
  @include flexStyle;
  width: $standardWidth;
}

/* Introduction */
.intro-container {
  background-image: url('../../images/color-pencils.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  height: $standardHeight * 0.73;
  width: 80%;
  position: relative;
}

.intro {
  position: absolute;
  @include fontStyle($cursive, $normalFont, $semibold, #0c0c0c);
  width: 55%;
  height: 40%;
  top: 20%;
  left: 25%;
  line-height: 1.6;

  .xp {
    background-color: #c600eb;
    color: #fff;
    padding: 0 0.3em;
    border-radius: 0.5em;
    text-shadow: 2px 2px #411749;
    box-shadow: 1px 1px 2px 2px #411749;
  }
  .web {
    color: #39ff14;
  }
  .mobile {
    color: #fe019a;
  }
  .solve {
    color: #1000e5;
  }
  .and-sign {
    background-color: #efff1a;
    color: #1000e5;
    padding: 0 0.3em;
    border-radius: 0.5em;
  }
  .and {
    color: #ff073a;
  }
}

.arr-container {
  height: 8vh;
  display: flex;
}

.arr_down {
  align-self: flex-end;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: arrow_bounce;
  animation-timing-function: linear;
}

@keyframes arrow_bounce {
  0% { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.home h2 {
  padding: 0.1rem 0.3rem;
  border-radius: 0.5rem;
}
 
/* About */
.home-about {
  width: $standardWidth;
  height: $standardHeight * 0.7;
  background-color: $themeColor;
  @include flexStyle($justifyContent: space-evenly);
}

.home-about-header {
  width: $standardWidth * 0.7;
  height: 30%;
  @include flexStyle($direction: row, $justifyContent: space-between);
  color: #fff;
  h2 {
    @extend %h2Color;
  }
  button {
    @extend %button;
    @include fontStyle(null, $normalFont, $semibold, #fff);
    @include textShadow;
  }
} 

/* Resent Projects */
.home-projects {
  height: $standardHeight;
  width: $standardWidth;
  @include flexStyle($justifyContent: space-between);
}

.home-projects-header {
  width: $standardWidth * 0.7;
  height: 20%;
  @include flexStyle($direction: row, $justifyContent: space-between);
  color: $themeColor;
  h2 {
    @extend %h2ColorReversed;
  }
  button {
    @extend %button;
    @include fontStyle(null, $normalFont, $semibold, #fff);
    @include textShadow;
  }
}

/* Skills */
.home-skills {
  width: $standardWidth;
  height: $standardHeight * 0.9;
  background-color: $themeColor;
  @include flexStyle($justifyContent: space-between);
}

.home-skills-header {
  width: $standardWidth * 0.7;
  height: 25%;
  @include flexStyle($direction: row, $justifyContent: space-between);
  color: #fff;
  h2 {
    @extend %h2Color;
  }
}

.home-skills-list {
  width: $standardWidth * 0.7;
  height: 75%;
  @include flexStyle($direction: row, $justifyContent: space-between, $flexWrap: wrap);
}

.home-skills-list-item {
  width: 12%;
  height: 16%;
  background-color: #fff;
  border-radius: 1rem;

  .home-skill-logo {
    width: 100%;
    height: 50%;
    margin-top: 8%;

    img {
      max-width: 80%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .home-skill-name {
    width: 100%;
    height: 40%;
    padding: 0.5rem 0;
    text-align: center;
    @include fontStyle($sans-serif, 100%, $bold);
    overflow: hidden;
  }
}