@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.nav-bar {
  width: $standardWidth * 0.6;
  height: $standardHeight * 0.2;
  @include flexStyle($direction: row, $justifyContent: space-between);
}

.person-info {
  @include flexStyle($direction: row, $justifyContent: flex-start);
  width: 70%;
}

.thumbnail {
  max-height: 4rem;
  display: inline;
  border-radius: 50%;
}

.title {
  @include flexStyle($justifyContent: space-around, $alignItems: flex-start);
  margin-left: 3%;
}

.name {
  @include fontStyle($sans-serif, $normalFont, $bold);
}

.sub-title {
  @include fontStyle($sans-serif, $smallFont, $semibold, #a8a8a8);
}

.links {
  width: 30%;
  @include flexStyle($direction: row, $justifyContent: space-between);
  font-size: $normalFont;
}

.link {
  text-decoration: none;
  color: $darkThemeColor;
  font-weight: $normal;
  padding: 0.1rem 0.3rem;
  &:hover {
    text-decoration: none;
    background-color: $themeColor;
    color: #fff;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
  }
}

.active-link {
  color: $themeColor;
}

.burger-menu {
  display: none;
}


@media screen and (max-width: 1200px) {
  .links {
    display: none;
  }

  .link, .active-link {
    font-size: $normalFont;
    font-weight: 500;
  }
 
  .burger-menu {
    width: 40%;
    height: 60%;
    display: block;
    position: relative;

    .menu-icon {
      position: absolute;
      right: 0;
      top: 45%;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: #61D685;
      color: #fff;
    }
  }

  .menu-list-live {
    width: 100%;
    height: 100%;
    @include flexStyle($direction: column, $justifyContent: space-between, $alignItems: flex-start);
  }

  .menu-list-hide {
    display: none;
  }  
}