@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.slides-show-container {
  @include flexStyle($direction: row);
}

.slides-show {
  @include flexStyle($justifyContent: space-between);
  height: 60vh;
  width: 90%;
}
.slides-show-img {
  width: 80%;
  height: 80%;
  margin-top: 1em;
  border-radius: 0.5em;
}

.slides-show-desc {
  width: 100%;
  height: 15%;
  text-align: center;
  margin-top: 2%;
}