@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.project {
  @include flexStyle;
  height: $standardHeight;
  margin-bottom: 5em;
  h3 {
    font-family: $sans-serif;
    font-size: $mediumFont;
    padding-bottom: 0.5em;
    border-bottom: 3px solid $themeColor;
  }
}

.project-info {
  font-family: $sans-serif;
  font-size: 1.1em;
  line-height: 2em;
  height: 25%;
  width: 80%;
}

.project-info-subtitle {
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 1em;
}

.strong-title {
  font-weight: $bold;
}

.project-carousel {
  margin-top: 5%;
  width: 90%;
  height: 70%;
  @include borderStyle($borderWidth: 0.3em);
  border-radius: 0.5em;
  @include boxShadow(1px, 1px, 3px, 2px, #265535);
}