@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";
 
.project {
  @include flexStyle;
  width: 100%;
  height: $standardHeight;
  h3 {
    width: auto;
    height: 6%;
    margin-bottom: 2%;
    text-align: center;
    font-family: $sans-serif;
    font-size: $mediumFont;
    font-weight: $bold;
    border-bottom: 4px dotted $themeColor;
  }
}

.project-info {
  height: 22%;
  width: 80%;
  font-family: $sans-serif;
  font-size: $xSmallFont;
  line-height: 1.4;
  border-radius: 1rem;
  padding: 0 1rem;
  @extend %overFlow;
  @include boxShadow(1px, 1px, 2px, 1px, #8c8c8c);

  span {
    font-weight: $bold;
  }
}

.project-info-subtitle {
  width: 100%;
  text-align: center;
  margin: 1% 0 1% 0;

  .project-media-i {
    font-size: $normalFont;
    margin: 0.5rem 1rem 0 1rem;
    color: #61D685;
  }
}

.project-carousel {
  margin-top: 5%;
  width: 80%;
  height: 65%;
  @include borderStyle($borderWidth: 0.5rem, $borderColor: #fff);
  border-radius: 1rem;
  @include boxShadow(1px, 1px, 3px, 1px, #8c8c8c);
  background-color: $themeColor;
}