@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.projects {
  width: 90%;
  height: 120vh;
  margin-top: 3%;
  @include flexStyle($justifyContent: flex-start, $alignItems: null);
}

.projects-body {
  width: 100%;
  @include flexStyle($direction: row, $justifyContent: space-between, $alignItems: null);
}

.projects-list {
  width: 80%;
}

// Side navigation bar style
.side-nav-bar {
  width: 20%;
}

.side-nav-bar-link {
  width: 100%;
  text-decoration: none;
  color: $darkThemeColor;
  font-weight: $semibold;
  @include flexStyle($direction: row, $justifyContent: flex-start);

  span {
    margin-left: 1rem;
    font-size: $smallFont;
    padding-left: 0.5rem;
  }

  &:hover {
    text-decoration: none;
    background: linear-gradient(to right, #4dab6a, #61D685, #fff);
    color: #fff;
    border-radius: 1rem;
    .side-nav-bar-marker-bar {
      border-right: 2px solid #fff;
    }
    .side-nav-bar-marker-dot {
      background-color: #fff;
    }
  }

}

.active {
  color: #57c077;
  @include textShadow(1px, 1px, 1px, $color: #43955d);
  .side-nav-bar-marker-bar {
    border-right: 3px solid $themeColor;
    box-shadow: .5px .5px 1px 1px #45995f;
    @include boxShadow(.5px, .5px, 1px, 1px, #45995f);
  }
  .side-nav-bar-marker-dot {
    background-color: $themeColor;
    @include boxShadow(1px, 1px, 1px, 1px, #224c2f);
  }
}

/* side-nar-bar-marker */
.side-nav-bar-marker {
  @include flexStyle;
  margin-left: 1rem;
}

.side-nav-bar-marker-bar {
  border-right: 2px dotted $themeColor;
  height: 2rem;
}

.side-nav-bar-marker-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $themeColor;
}