@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.roadmap-carousel {
  width: 70%;
  height: 70%;
  @include flexStyle($direction: row);
}

.roadmap-carousel-glyphicon {
  width: 10%;
  height: auto;
  img {
    max-width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.roadmap-carousel-items {
  width: 80%;
  height: 50%;
  @include flexStyle($direction: row);

  .roadmap-carousel-item {
    width: 33%;
    height: 100%;
    @include flexStyle($direction: row);
  }

  .card-roadmap-carousel {
    width: 80%;
    height: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5rem;
    @include boxShadow(1px, 1px, 5px, 1px, #124220);
    @include fontStyle($sans-serif, null, $bold, $color: $darkThemeColor);
    line-height: 1.5rem;

    img {
      width: 80%;
      height: 60%;
      border-radius: 0.3rem;
      margin: 5% auto;
      @include boxShadow(1px, 1px, 3px, 1px, #808080);
    }
  }

  .roadmap-carousel-items-divider {
    width: 12%;
    height: 1%;
    background-color: white;
    margin: auto 4%;
    @include boxShadow(1px, 1px, 1px, null, #124220);
  }
}


