@import "../helpers/variables";
@import "../helpers/placeholders";
@import "../helpers/mixins";

.roadmap-carousel {
  border: 1px solid red;
  width: 70%;
  height: 70%;
  @include flexStyle($direction: row);
}

.roadmap-carousel-left, .roadmap-carousel-right {
  border: 1px solid black;
  img {
    width: 2rem;
    height: auto;
  }
}

.roadmap-carousel-items {
  border: 1px solid black;
  width: 80%;
  //flex-grow: 2;
  @include flexStyle($direction: row);

}

.roadmap-carousel-item {
  @include flexStyle($direction: row);
}

.card-roadmap-carousel {
  width: 20rem;
  height: 15rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  @include boxShadow(1px, 1px, 5px, 1px, #124220);
  @include fontStyle($sans-serif, null, $bold, $color: $darkThemeColor);
  line-height: 1.5rem;
}

.roadmap-carousel-item-img {
  width: 13rem;
  height: 8rem;
  border-radius: 0.3rem;
  margin: 1rem auto;
  @include boxShadow(1px, 1px, 3px, 1px, #808080);
}

.roadmap-carousel-items-divider {
  width: 3rem;
  background-color: white;
  height: 2px;
  margin: 0 1rem;
  margin-top: auto;
  margin-bottom: auto;
  @include boxShadow(1px, 1px, 1px, null, #124220);
}