.carousel-indicators {
  display: none;
}

.home-projects-carousel-modal {
  display: block;
  width: 80%;
  height: 500px;
}

.home-projects-carousel-item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #f2fbff;
  display: flex;
  flex-direction: row;
}

.home-projects-carousel-item-img {
  margin-top: 3em;
  margin-left: 10%;
}

.home-projects-carousel-item-info {
  margin-top: 3em;
  margin-left: 5%;
  margin-right: 10%;
}

.home-projects-carousel-item-name {
  font-size: 2em;
  font-weight: 600;
}

.home-projects-carousel-item-title {
  font-size: 1.2em;
  margin-top: 0.3em;
}

.home-projects-carousel-item-divider {
  margin-top: 2em;
  height: 2px;
  background-image: linear-gradient(90deg, rgb(53, 173, 221) 0px, rgb(61, 70, 153) 100%);
}

.home-projects-carousel-item-desc {
  font-size: 1.2em;
  margin-top: 2em;
}


/*carousel left and right arrow part*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.glyphicon-chevron-right {
    color: #35acdc;
}

.glyphicon-chevron-left {
    color: #35acdc;
}
/*.carousel-control.right {*/
    /*width: 5%;*/
    /*margin-top: 20em;*/
    /*margin-bottom: auto;*/
    /*margin-right: 10%;*/
/*}*/

/*.glyphicon-chevron-right {*/
    /*color: #35acdc;*/
    /*background: #f2fbff;*/
/*}*/

/*.carousel-control.left {*/
    /*width: 5%;*/
    /*margin-top: 20em;*/
    /*margin-bottom: auto;*/
    /*margin-left: 10%;*/
    /*!*background-image: linear-gradient(to top,#3d479a 0,#35acdc 100%);*!*/
/*}*/

/*.glyphicon-chevron-left {*/
    /*color: #35acdc;*/
    /*background: #f2fbff;*/
/*}*/

