.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Introduction */
.intro-container {
  background: url('../images/color-pencils.png') no-repeat;
  background-size: cover;
  height: 73vh;  
}

.intro {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 2em;
  font-weight: 500;
  color: #000;
  width: 60%;
  height: 40%;
  margin-top: 6%;
  margin-left: 20%;
  line-height: 1.6;
}

.arr-container {
  height: 8vh;
  display: flex;
}

.arr_down {
  align-self: flex-end;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: arrow_bounce;
  animation-timing-function: linear;
}

@keyframes arrow_bounce {
  0% { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.home h2 {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
}

/* About */
.home-about {
  height: 70vh;
  width: 100%;
  background-color: #61D685;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-about-header {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
  color: #fff;
}

.home-about-header h2, .home-skills-header h2 {
  background-color: #fff;
  color: #61D685;
}

.home-about-header button, .home-projects-header button {
  border: none;
  outLine: none;
  background: Transparent;
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 1.5px 1.5px #43955d;
}

/* Resent Projects */
.home-projects {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-projects-header {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #61D685;
}

.home-projects-header h2{
  background-color: #61D685;
  color: #fff;
}

.home-projects-list {
  width: 70%;
}

/* Skills */
.home-skills {
  height: 60vh;
  width: 100%;
  background-color: #61D685;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-skills-header {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.home-skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.home-skills-list-item {
  width: 19%;
  padding: 0.5em 0;
  background-color: #fff;
  margin-top: 1em;
  text-align: center;
  border-radius: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #3d3d3d;
}