.carousel-indicators {
  display: none;
}

.home-projects-carousel-modal {
  display: flex;
  width: 80%;
}

.carousel-modal-close-btn {
  width: 100%;
  text-align: right;
  padding: 1em;
  color: #2ca952;
}

.home-projects-carousel-item {
  width: 100%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  background: #edfaf1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-projects-carousel-item-img {
  width: 50%;
  height: 45%;
  border: 3px solid #fff;
  background-color: #fff;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  box-shadow: 1px 1px 1px 1px #071d0e;
}

.home-projects-carousel-item-info {
  width: 70%;
  height: 40%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.home-projects-carousel-item-name {
  font-size: 2em;
  font-weight: 600;
}

.home-projects-carousel-item-title {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.5em;
  border-bottom: 2px solid #61d685;
  margin-bottom: 0.5em;
}

.carousel-item-media-i {
  font-size: 1.5em;
  margin: 0.5em 1em 0 1em;
  color: #3a804f;
}

.home-projects-carousel-item-desc {
  font-size: 1.2em;
  padding: 0.2em;
  width: 100%;
}

.home-projects-carousel-item-desc span {
  font-weight: 600;
}

/*carousel left and right arrow part*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 3em;
  color: #2ca952;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3em;
  color: #2ca952;
}
