.slides-show-img {
  width: 80%;
  margin-left: 11%;
  margin-top: 1em;
  border-radius: 0.5em;
  border: 1px solid #61D685;
}

.slides-show-desc {
  width: 90%;
  margin-left: 5%;
  border: 2px solid #61D685;
  margin-top: 1em;
  box-shadow: 1px 1px #265535;
}