.projects {
  margin-top: 5em;
  width: 80%;
  height: 135vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projects h2 {
  width: 15%;
  padding: 0.1em 0;
  text-align: center;
  background-color: #61D685;
  color: #fff;
  border-radius: 0.3em;
  margin-bottom: 3em;
}

.projects-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side-nav-bar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-nav-bar-link {
  width: 100%;
  text-decoration: none;
  color: #3b3a3a;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.side-nav-bar-link span {
  padding: 0.6em 0.6em;
}

.side-nav-bar-link:hover {
  text-decoration: none;
  background: linear-gradient(to right, #4dab6a, #61D685, #bfeece);
  color: #fff;
  border-radius: 0.6em;
}

.side-nav-bar-link:hover .side-nav-bar-marker-bar {
  border-right: 2px solid #fff;
}

.side-nav-bar-link:hover .side-nav-bar-marker-dot
 {
  background-color: #fff;
}

.side-nav-bar-active-link {
  color: #57c077;
  text-shadow: 1px 1px #2b603b;
}

.side-nav-bar-active-link .side-nav-bar-marker-bar {
  border-right: 3px solid #61D685;
  box-shadow: .5px .5px 1px 1px #45995f;
}

.side-nav-bar-active-link .side-nav-bar-marker-dot {
  background-color: #61D685;
  box-shadow: 1px 1px 1px 1px #224c2f;
}

.side-nav-bar-link-name {
  margin-left: 1em;
  font-size: 1.3em;
}

/* side-nar-bar-marker */
.side-nav-bar-marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

.side-nav-bar-marker-bar {
  border-right: 2px dotted #61D685;
  height: 2em;
}

.side-nav-bar-marker-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #61D685;
}