.roadmap-carousel {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.roadmap-carousel-left, .roadmap-carousel-right {
  flex-grow: 1;
  border: none;
  outLine: none;
  background: Transparent;
}

.roadmap-carousel-left img, .roadmap-carousel-right img {
  width: 2em;
  height: auto;
}

.roadmap-carousel-items {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.roadmap-carousel-item {
  display: flex;
  flex-direction: row;
}

.card-roadmap-carousel {
  width: 18em;
  height: 10em;
  text-align: center;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 2px 2px #124220;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 1.5em;
}

.roadmap-carousel-item-img {
  width: 9em;
  height: 5em;
  border-radius: 0.3em;
  margin-top: 0.5em;
  box-shadow: 2px 2px #808080;
}

.roadmap-carousel-items-divider {
  width: 3em;
  background-color: white;
  height: 2px;
  margin: 0 1em;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 1px 1px #124220;
}