@import "./SCSS/helpers/mixins";
@import "./SCSS//helpers/variables";
@import "./SCSS/helpers/placeholders";

.App {
  @include flexStyle;
  border-top: $standardBorder;
}

.App h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
}

.arrow-up {
  @extend %fadeArrow;
  @include boxShadow(1px, 1px, 5px, 1px, #303030);
  animation-duration: 1s;
}

.fadeIn {
  @include fadeArrowEffect(fadeIn);
}

.fadeOut {
  @include fadeArrowEffect(fadeOut);
}

.arrow-up-hide {
  @extend %fadeArrow;
  animation-duration: 0.5s;
  opacity: 0;
}

.arrow-up-icon {
  color: #ffffff;
  flex: 1;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}